.DS_Store
# Eagle:
*.s#?
*.b#?
*.l#?
*.b$?
*.s$?
*.l$?
*.pro
*.job
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs
*.dri
*.drl
*.gpi
*.pls
*.ger
*.xln
*.drd
*.drd.*
*.s#*
*.b#*
*.info
*.eps
*.lck
# batari Basic
software/bin

